<!--会員のお気に入りレシピ一覧画面-->
<div class="container">
  <h4>お気に入りレシピ</h4>
  <% if @favorites.exists? %>
    <div class="row">
      <% @favorites.each do |favorite|%>
        <%= render "public/recipes/recipe", recipe: favorite.recipe %>
      <% end %>
  <% else %>
      <p class="text-center mt-5">お気に入りのレシピはまだありません。気になるレシピに<i class="fas fa-star favorite_icon"></i>をつけてみましょう！</p>
  <% end %>
      <div class="w-100"></div>
      <div class="ml-auto"><%= paginate @favorites %></div>
   </div>
 </div>
