<!--会員のお気に入り一覧画面-->
<div class="container">
  <div class="row">
    <h4>お気に入りレシピ</h4>
    <div class="w-100 mb-5"></div>
    <% if @favorites.exists? %>
      <% @favorites.each do |favorite|%>
        <%= render "public/recipes/recipe", recipe: favorite.recipe %>
      <% end %>
    <% else %>
      <p>お気に入りのレシピはまだありません。</p>
    <% end %>
    <div class="w-100"></div>
    <div class="ml-auto"><%= paginate @favorites %></div>
   </div>
 </div>
