<div class="container">
  <div class="row">
    <h4>お気に入りレシピ</h4>
    <div class="w-100 mb-5"></div>
      <% @favorites.each do |favorite|%>
        <%= render "public/recipes/recipe", recipe: favorite.recipe %>
    <% end %>
    <%= paginate @favorites %>
   </div>
 </div>
