<div class="container">
  <div class="row">
    <h4>お気に入りレシピ</h4>
    <div class="w-100 mb-5"></div>
    <% @favorite_recipes.each do |recipe|%>
      <%= render "public/customers/recipe", recipe: recipe %>
    <% end %>
   </div>
 </div>
