<div class="nested-fields">
<div class="row">
    <div class="col-9"><%= f.text_area :cooking_procedure, class: "form-control", placeholder: "作り方", size: "100x8" %></div>
    <div class="col- ml-3">
      <%= link_to_remove_association "作り方削除", f, class: "btn btn-secondary btn-block" %>
    </div>
    </div>
</div>

