<div class="container">
  <h3>レシピ一覧</h3>
  <div class="row">
    <div class="col-lg-2" style="background-color: orange;">
      ジャンルのサイドバー
    </div>
    <div class="col-lg-10">
      <div class="recipe_box">

          <% @recipes.each do |recipe| %>
          <%= link_to recipe_path(recipe) do %>

            <ul class="recipe_date">
              <li class="recipe_item list-unstyled border">
                <div class="row">
                <p class="col-lg-4" style="background-color: skyblue;"><%= image_tag recipe.get_image, size:"200x200" %></p>
                <div class="col-lg-8 h5 link text-dark" style="background-color: pink;">
                  <%= recipe.dish_name %><br>
                  <%= recipe.explanation %>
                </div>
                </div>
                <% end %>
              </li>
            </ul>

          <% end %>

      </div>
    </div>
  </div>
</div>
