<!--タグ検索結果の画面-->
<div class="container">
  <h4><%= @tag.tag_name %>のレシピ</h4>
  <% if @recipes.exists? %>
    <div class="row">
      <% @recipes.each do |recipe| %>
        <%= render "public/recipes/recipe", recipe: recipe %>
      <% end %>
      <div class="w-100"></div>
      <div class="ml-auto"><%= paginate @recipes %></div>
    </div>
  <% else %>
    <p>こちらのタグのついたレシピはありません。</p>
  <% end %>
</div>


