<div class="container">
  <h4><%= @tag.tag_name %>のレシピ</h4>
  <% if @recipes.exists? %>
    <div class="row">
      <% @recipes.each do |recipe| %>
        <%= render "public/recipes/recipe", recipe: recipe %>
      <% end %>
    </div>
      <% else %>
    <p>こちらのタグのついたレシピはありません。</p>
  <% end %>
</div>


