<div class="container">
  <div class="row">
    <div class="about_visual">
      <div class="ml-4" style= "background-color:rgba(255,255,255,0.2);">
    <h3>カルシウムについて</h3>
    <div class="w-100"></div>
    <h5>カルシウムは、強い歯や骨をつくるだけでなく、筋肉の収縮や神経を安定させる作用もあります。<br>
        カルシウムが不足すると、歯や骨が弱くなり、骨粗鬆症の危険が。<br>
        ちなみに、成人1人当たりが一日にとるカルシウムの目標量は600～800mg。成長期の子どもは700～1000mgです。<br>
        では、どのような食べ物にカルシウムが多く含まれているのか見てみましょう！</h5>
  </div>
  </div>
  </div>

  <div class="row mt-5">
    <div class="col-3">
      <%= image_tag "milk.png", size: "200x200" %>
    </div>
    <div class="col-9">
      <h4>牛乳・乳製品</h4>
    <p>カルシウムを多く含み、吸収率が高いのが牛乳・乳製品です。<br>
    牛乳コップ一杯(200ml)で220㎎、ヨーグルト1パック(100g)には120mg、プロセスチーズ一切れ(20g)には126mgのカルシウムが含まれています。<br>
    手軽に効率よくカルシウムを摂取したい人におすすめです。</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-3">
      <%= image_tag "touhu.png", size: "200x200" %>
    </div>
    <div class="col-9">
      <h4>大豆製品</h4>
      <p>牛乳・乳製品の次に吸収率が良いのは、豆腐や油揚げ、納豆などの大豆製品です。<br>
          木綿豆腐1/2丁(150g)には180mg、油揚げ1/2枚(100g)には240mg、納豆1パック(50g)には45㎎のカルシウムが含まれています。<br>
          みそ汁などにして美味しく頂きましょう！</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-3">
      <%= image_tag "fish.png", size: "200x200" %>
    </div>
    <div class="col-9">
      <h4>魚介類</h4>
      <p>魚介類の種類によってカルシウム量は異なり、骨まで食べられる小魚や、殻ごと食べる小エビなどに多く含まれています。<br>
        サバの缶詰なども、骨まで柔らかくなって食べることができるため、カルシウムの補給ができる食材としておすすめです。<br>
        ししゃも3尾には149mg、サバの水煮缶1個80ｇには208mgのカルシウムが含まれています。</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-3">
      <%= image_tag "komatsuna.png", size: "200x200" %>
    </div>
    <div class="col-9">
      <h4>野菜・海藻類</h4>
      <p>野菜や海藻に含まれているカルシウムの吸収率はそれほど高くありませんが、ビタミンやミネラル、食物繊維など、体の調子を整える栄養素の摂取が期待できるので、バランス良く食べたい食品です。<br>
        カルシウムが多く含まれているのが、小松菜や水菜、ヒジキなど。<br>
        小松菜は1/2束で119mg、水菜は1/4束で105mg、ヒジキは煮物一食分(10g)で140㎎含まれています。<br>
        葉物野菜は加熱するとカサが減って食べやすくなるので、積極的に摂取しましょう！</p>
    </div>
  </div>
</div>