<h3>TOP</h3>
<div class="container">
  <div class="row">
    <div class="jumbotron jumbotron-extend">
      <h2 class="mb-2">カルシウムLifeへようこそ！</h2>
      <h5>このサイトは牛乳や乳製品など、カルシウム豊富な食材を使ったレシピのコミュニティサイトです。<br>
          会員でなくてもレシピの閲覧は可能です。</h5>
    </div>
  </div>
</div>