<h3>TOP</h3>
<div class="container">
  <%= render "layouts/flash_message" %>
  <div class="row">
    <div class="jumbotron jumbotron-extend">
      <h2 class="mb-2">カルシウムLifeへようこそ！</h2>
      <h5>カルシウム豊富な食材を使ったレシピで<br>
          あなたの骨や歯を元気に！</h5>
    </div>
  </div>
</div>