@import '~bootstrap/scss/bootstrap';
@import '~@fortawesome/fontawesome-free/scss/fontawesome';

.jumbotron-extend {
  width: 100%;
  height: 500px;
  background-position: top center;
  background-image: url("../images/top.jpg");
  background-size: cover;
}



footer {
    background-color: #33383c;
    padding: 30px 0px;
}

.logo {
    color: #FFF;
    font-weight: 700;
    font-size: 30px;
}

.address span{
   color: #FFF;
   font-weight: bold;
   border-bottom: 1px solid #c7c7c7;
   padding: 10px 0px;
   display: block;
   font-size: 16px;
   letter-spacing: 3px;
}

.address li{
    margin: 20px 0px;
    list-style: none;
}
